<AuthorizeView>
    <Authorized>
        <div>
            <label>Hello, @context.User.Identity.Name!</label>
            <label>You can only see this content if you're authenticated.</label>
        </div>
        <div class="menu">
            <a class="item" href="logout">
                <i class="lock icon"></i>
                logout
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="menu">
            <a class="item" href="login">
                <i class="lock open icon"></i>
                Login
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>
