@page "/login"

@using InitialEnterprise.BlazorFrontend.Models
@using InitialEnterprise.Shared.Dtos
@using InitialEnterprise.BlazorFrontend.Services

@inject NavigationManager NavigationManager
@inject IAuthenticationService authenticationService
@inject UiServices.MessageBoxService messageBoxService

<form class="ui form">
    <h4 class="ui dividing header"><i class="lock icon"></i>Signin</h4>
    <div class="field">
        <label>Email</label>
        <div class="two fields">
            <div class="field">
                <input type="text" @bind="@userLogin.Email" placeholder="Email" />
            </div>
        </div>
    </div>
    <div class="field">
        <label>Password</label>
        <div class="two fields">
            <div class="field">
                <input type="password" @bind="@userLogin.Password" placeholder="Password" />
            </div>
        </div>
    </div>
</form>

<div class="ui small basic icon buttons">
    <button class="ui button" @onclick="@LogonUser">Signin</button>
</div>

<p></p>


@code {
    UserLoginDto userLogin = new UserLoginDto();

    async Task LogonUser()
    {
        UserSignInResultDto userSignInResult = await this.authenticationService.Login(userLogin);
     
        if (userSignInResult.Success)
        {
            NavigationManager.NavigateTo("/");
        }
    }  
}
