
@page "/person/mailaddress/list"

@inherits ViewComponentBase

@using InitialEnterprise.Shared.Dtos

@inject PersonController Controller
@inject NavigationManager NavigationManager


@if (this.EmailAddresses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3 class="ui dividing header"><i class="address card icon"></i>Email Addresses</h3>
    
    <div class="ui cards">
        @foreach (var emailAddress in this.EmailAddresses)
        {
            <div class="card">
                <div class="content">
                    <div class="header">@emailAddress.MailAddress</div>
                    <div class="description">
                        @emailAddress.MailAddressType
                        <div class="meta">
                            <div class="ui field checked checkbox">
                                <input type="checkbox" @bind="@emailAddress.IsPrimary" placeholder="IsPrimary" />
                                <label>Primary Mail</label>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated like">
                        <a class="header" href="/person/@Person.Id/mailaddress/edit/@emailAddress.Id">
                            <i class="edit icon"></i>edit
                        </a>
                    </span>
                    <span class="right floated star">
                        <a class="header" href="/person/@Person.Id/mailaddress/delete/@emailAddress.Id">
                            <i class="trash icon"></i>delete
                        </a>
                    </span>
                </div>
            </div>
        }
    <a class="card" href="/person/@Person.Id/mailaddress/create/">
        <CreateCard></CreateCard>
    </a>
    </div>
}

@code {

    [Parameter]
    public ICollection<EmailAddressDto> EmailAddresses { get; set; }

    [Parameter]
    public PersonDto Person { get; set; }

    private void EditAction(string personId, string id)
    {
        NavigationManager.NavigateTo($"/person/edit/{personId}/mailaddress/edit/{id}");
    }

    private void CreateAction()
    {
        NavigationManager.NavigateTo($"/person/edit/{this.Person.Id}/mailaddress/create");
    }

}
