@page "/currency/delete/{Id}"

@using InitialEnterprise.Shared.Dtos

@inherits ViewComponentBase

@inject NavigationManager NavigationManager
@inject InitialEnterprise.Frontend.Pages.Currency.CurrencyController Controller



<h4 class="ui dividing header">
    <i class="globe icon"></i>
    Delete Currency
</h4>

<div class="ui warning message">
    <div class="header">
        Delete @Id
    </div>
    <p>
        Do you really want to delete?
    </p>
</div>

<div class="ui small basic icon buttons">
    <button class="ui button" @onclick="@BackAction"><i class="reply icon"></i></button>
    <button class="ui button" @onclick="@DeleteAction"><i class="trash icon"></i></button>
</div>

@code {
    [Parameter]
    public String Id { get; set; }

    CurrencyDto currency;

    async Task DeleteAction()
    {
        await Controller.Delete(Guid.Parse(Id), onSuccess: BackAction);
    }

    void BackAction()
    {
        this.NavigationManager.NavigateTo("/currency/list");
    }
}
