@page "/person/address/list"

@inherits AddressEditView

@using InitialEnterprise.BlazorFrontend.Controller
@using InitialEnterprise.Shared.Dtos

@inject AddressController Controller
@inject NavigationManager NavigationManager


@if (this.Addresses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3 class="ui dividing header"><i class="address card icon"></i>Addresses</h3>
    
    <div class="ui cards">
        @foreach (var address in this.Addresses)
        {
            <div class="card">
                <div class="content">
                    <div class="header">@address.City</div>
                    <div class="description">
                        <div class="meta">
                            <div class="ui field">                             
                                <label>@address.Zip</label>
                                <label>@address.Street</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated like">
                        <a class="header" href="/person/@Person.Id/address/edit/@address.Id">
                            <i class="edit icon"></i>edit
                        </a>
                    </span>
                    <span class="right floated star">
                        <a class="header" href="/person/@Person.Id/address/delete/@address.Id">
                            <i class="trash icon"></i>delete
                        </a>
                    </span>
                </div>
            </div>
        }
        <a class="card" href="/person/@Person.Id/address/create/">
            <div class="content">
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <span class="header">
                        <i class="add icon"></i>add
                    </span>
                </span>
            </div>
        </a>
    </div>
}


@code {

    [Parameter]
    public ICollection<PersonAddressDto> Addresses { get; set; }

    [Parameter]
    public PersonDto Person { get; set; }

    private void EditAction(string personId, string id)
    {
        NavigationManager.NavigateTo($"/person/edit/{personId}/address/edit/{id}");
    }

    private void CreateAction()
    {
        NavigationManager.NavigateTo($"/person/edit/{this.Person.Id}/address/create");
    }

}
