@page "/person/delete/{Id}"

@inherits Component.ViewComponentBase

@using InitialEnterprise.BlazorFrontend.Controller
@using InitialEnterprise.BlazorFrontend.Services
@using InitialEnterprise.Shared.Dtos

@inject NavigationManager NavigationManager
@inject PersonController Controller

<h4 class="ui dividing header">
    <i class="users icon"></i>
    Delete Person
</h4>

<div class="ui warning message">
    <div class="header">
        Delete @Id
    </div>
    <p>
        Do you really want to delete?
    </p>
</div>

<div class="ui small basic icon buttons">
    <button class="ui button" @onclick="@BackAction"><i class="reply icon"></i></button>
    <button class="ui button" @onclick="@DeleteAction"><i class="trash icon"></i></button>
</div>

@code {
    [Parameter]
    public String Id { get; set; }

    PersonDto person;

    async Task DeleteAction()
    {
        await Controller.Delete(Guid.Parse(Id));
    }

    void BackAction()
    {
        this.NavigationManager.NavigateTo("/person/list");
    }
}

