<div class="content">
    <div class="ui placeholder">
        <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="paragraph">
            <div class="medium line"></div>
        </div>
    </div>
</div>
<div class="extra content">
    <span class="left floated like">
        <span class="header">
            <i class="add icon"></i>add
        </span>
    </span>
</div>
