@inherits LayoutComponentBase

@using Blazored
@using Blazored.Modal
@using Blazored.Modal.Services
@using InitialEnterprise.Frontend.Component

<div class="maincontainer">
    <div class="wrapper">
        <InitialEnterprise.Frontend.Component.GlobalMessagePanel />
        <InitialEnterprise.Frontend.Component.BusyIndicatorPanel />
        <BlazoredModal />     
            <div class="ui bottom attached segment pushable">
                <NavMenu></NavMenu>
                <div class="pusher">
                    <div class="ui basic segment">
                        @Body
                    </div>
                </div>                
             </div>     
        </div>
    </div>
    

