
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link"  (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class='row'>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <app-user-avatar></app-user-avatar>
      <app-nav-menu></app-nav-menu>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="outer-outlet">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>


