<div>
  <h4 class="d-flex justify-content-between align-items-center mb-2">
    <span class="text-muted">Your Addresses</span>
  </h4>
  <p *ngIf="!addresses.length">No Addresses saved</p>
  <div class="card-deck">
       <app-address-list-item
      *ngFor="let address of addresses"
        [address]="address"
        [addresses]="addresses">
      </app-address-list-item>
      <div class="card mb-3" style="max-width: 14rem; min-width: 14rem;">
        <a [routerLink]="['./']" (click)="create()" class="card-link">
          <div class="card-body text-dark">
              <h5 class="card-title"></h5>
              <i class='material-icons'>add</i>
              <h6 class="card-subtitle mb-2 text-muted">Add Address</h6>
          </div>
        </a>
      </div>
  </div>



