@page "/"
@namespace InitialEnterprise.BlazorFrontend.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InitialEnterprise.BlazorFrontend</title>
    <base href="~/" />   
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/css/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/css/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="~/scripts/site.js"></script>
</body>
</html>

