@page "/"

@using InitialEnterprise.BlazorFrontend.Shared
@using Microsoft.AspNetCore.Components.Web
@using InitialEnterprise.BlazorFrontend.Services


@inject NavigationManager NavigationManager
@inject IAuthenticationService authenticationService


<h1>Hello, world!</h1>

Welcome to your new app.

@code{

}