
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="nav-link" [routerLink]='["/user-signin"]'>
      sign in
    </a>
  </li>
</nav>
<div class="container-fluid">
  <div class='row'>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <app-nav-menu></app-nav-menu>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="outer-outlet">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
