
@implements IDisposable
@inject UiServices.BusyIndicatorService _busyIndicatorService
    
<div class="ui overlay modal fullscreen @_active">
    <div class="content">
        <div class="ui active centered inline loader"></div>
    </div>
</div> 

@code
{  
    private String _active = string.Empty;

    public void Dispose()
    {
        _active = string.Empty;
        _busyIndicatorService.SetBusyIndicatorHandler(null);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _busyIndicatorService.SetBusyIndicatorHandler(SetVisibility);
    }

    private void SetVisibility(bool visible)
    {
        _active = visible ? "active" : string.Empty;

        StateHasChanged();
    }
}
