@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body {
    height: 100%;
}

.maincontainer {
    height: 100%;
}

.wrapper {
    height: 100%;
}

.pusher {
    padding-right: 260px;
}

.ui.pushable {
    min-height: 100%;
}

.ui.overlay {
    min-height: 100%;
    opacity: 0.4;
}

.form-control.invalid {
    border-color: #dc3545 !important;
}

.form-control.valid {
    border-color: #28a745;
}

.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

a.True {
    background-color: darkgreen !important;
}

a.False {
    background-color: orange !important;
}

.app-progress-indicator {
    background: rgba(0,0,0,0.2) url('../loading.gif') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Sit on top */
}