<h2>Currencies</h2>

<p *ngIf="!currencies"><em>Loading...</em></p>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>Iso Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currency of currencies">
        <td>
          <button class='btn btn-default btn-sm' (click)='edit(currency)'>
            <i class='material-icons'>edit</i>
          </button>
          <button class='btn btn-default btn-sm' (click)='delete(currency)'>
            <i class='material-icons'>delete</i>
          </button>
        </td>
        <td>{{ currency.name }}</td>
        <td>{{ currency.isoCode }}</td>
      </tr>
    </tbody>
  </table>
</div>

