
<div class="sidebar-sticky" >
   <ul class="nav flex-column">
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/currency"]'>
        Currency
      </a>
    </li>
  </ul>
  <hr>
  <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> -->
    <ul class="nav flex-column">
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link" [routerLink]='["/userlist"]'>
          User
        </a>
      </li>
    </ul>
  <!-- </h6> -->
  <ul class="nav flex-column mb-2"></ul>
</div>
