<div *ngIf="(user) as user;">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Persönliche Daten bearbeiten</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('CrossClick')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

            <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-2 col-md-6">
                      <label for="firstName">Firstname</label>
                      <div class="input-group">
                          <div class="form-group form-inline">
                              <input type="text" formControlName="firstName" class="form-control ml-auto" />
                              <div *ngIf="errors.firstName"  class="invalid-feedback">
                                {{ errors.firstName }}
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label for="lastName">Lastname</label>
                      <div class="input-group">
                          <div class="form-group form-inline">
                              <input  type="text" formControlName="lastName" class="form-control ml-auto"/>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="userName">Username</label>
                        <div class="input-group">
                          <input type="text" class="form-control" formControlName="userName" placeholder="Username" >
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <label for="email">Email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" formControlName="email" placeholder="email" >
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <label for="phoneNumber">Phone</label>
                      <div class="input-group">
                          <div class="form-group form-inline">
                              <input class="form-control ml-2" type="text" formControlName="phoneNumber"/>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <label for="dateOfBirth">Date of Birth</label>
                    <div class="input-group">
                        <input class="form-control ml-2" placeholder="yyyy-mm-dd"
                        name="dp" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="onCancel()">Cancel</button>
            <button type="button" class="btn btn-outline-dark" (click)="onSubmit()" [disabled]="userForm.invalid">Save</button>
        </div>
      </form>
    </div>

  <!-- <pre>Model: {{ user | json }}</pre> -->

</div>

