@inherits LayoutComponentBase

@using InitialEnterprise.BlazorFrontend.Component

<div class="maincontainer">
    <div class="wrapper">
        <GlobalMessagePanel />
        <BusyIndicatorPanel />
        <div class="ui bottom attached segment pushable">
            <NavMenu></NavMenu>
            <div class="pusher">
                <div class="full height">
                    <div class="ui basic segment">
                        @Body
                    </div>
                </div>
            </div>
            <Footer></Footer>
        </div>
    </div>
</div>


