<div class="ui visible inverted left vertical sidebar menu">
    <div class="item">
        <div class="header">User</div>     
        <InitialEnterprise.BlazorFrontend.Pages.User.Avatar />
    </div>   
    <div class="item">
        <div class="header">Main Data</div>
        <div class="menu">
            <a class="item" href="currency/list">
                <i class="globe icon"></i>
                Currencies
            </a>
            <a class="item" href="user/list">
                <i class="user icon"></i>
                Users
            </a>
            <a class="item" href="person/list">
                <i class="users icon"></i>
                People
            </a>
        </div>
    </div>
</div>